
fastapi==0.112.2
uvicorn[standard]==0.30.6
pydantic==2.8.2
email-validator==2.2.0
SQLAlchemy==2.0.32
passlib[bcrypt]==1.7.4
bcrypt==3.2.2
PyJWT==2.9.0
python-multipart==0.0.9
alembic==1.13.2
psycopg2-binary==2.9.9
pytest==8.3.2
httpx==0.27.0
stripe==7.13.0
Jinja2==3.1.4
Markdown==3.6
boto3==1.34.159
bleach==6.1.0
APScheduler==3.10.4
prometheus-client==0.20.0
tzdata==2025.2
redis==5.0.7
psutil==6.0.0
sentry-sdk[fastapi]==2.17.0
